DEBUG=True
TIME_ZONE=America/Lima
SECRET_KEY=django-insecure-)^@0&o_qn-9e1q-i+!0!)zg9a(#xinucwzmpr(3aeyq&a&9#)
ALLOWED_HOST=*
SERVER-CLIENT=http://localhost:4200/

#BASE DE DATOS BET MASTERS
ENGINE=django.db.backends.postgresql_psycopg2
NAME_DB=bdbetmasters
USER_DB=postgres
PASSWORD=root
HOST_DB=127.0.0.1
PORT_DB=5432


